<nav class="navbar navbar-light bg-light justify-content-start ms-3">
  <form class="form-inline">
    <div class="input-group">
      <input type="text" class="form-control" placeholder="Search postcode..." aria-label="Postcode" aria-describedby="basic-addon1">
      <div class="input-group-append">
        <%= button_tag "Search", class: "btn btn-outline-secondary" %>
      </div>
    </div>
  </form>
</nav>
