<div class="m-3">
  <h1 class="display-4">Postcode Forecast</h1>
  <p class="lead">Enter a UK postcode above to see real-time temperature updates for your area.</p>
  <%= simple_form_for @forecast do |f| %>
    <%= f.input :postcode %>
    <%= f.button :submit %>
  <% end %>
</div>
